<!DOCTYPE html>
<html>

<head>
    <title>Bank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-end">
                <% if user_signed_in? %>
                <p>Logged in as <strong><%= current_user.email %></strong></p>
                <div class="buttons">
                    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item button is-link' %>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item button is-danger'  %>
                </div>
                <% else %>
                <div class="buttons">
                    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item button is-link'  %>
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-item button is-link'  %>
                </div>
                <% end %>
            </div>
        </div>
    </nav>
    <section class="hero">
        <div class="hero-body">
            <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
        </div>
    </section>
</body>

</html>