<div class="container">
    <h1 class="title">Accounts</h1>
    <h2 class="subtitle">
        Accounts of User
    </h2>
    <div class="mt-4">
        <%= link_to 'Create Account', new_account_path, :class => 'button is-link' %>
    </div>
    <div class="columns mt-4">
        <% @accounts.each do |account| %>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <div class="title"><%= account.no %></div>
                        <div class="subtitle">Available balance <%= account.balance %></div>
                    </div>
                </div>
                <footer class="card-footer">
                    <%= link_to 'View', account_path(account), :class => 'card-footer-item' %>
                    <%= link_to 'Deposit', new_deposit_path(account), :class => 'card-footer-item' %>
                    <%= link_to 'Withdraw', new_withdraw_path(account), :class => 'card-footer-item' %>
                </footer>
            </div>
        </div>
        <% end %>
    </div>
</div>