<div class="container">
    <h1 class="title">Create account</h1>
    <h2 class="subtitle">
        Create an account
    </h2>
    <div class="mt-4">
        <%= link_to 'Back to Home', accounts_path, :class => 'button is-link' %>
    </div>
    <div class="columns mt-6">
        <div class="column is-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        Create an account
                    </div>
                </div>
                <div class="card-content">
                    <%= form_with url: account_create_path, method: :post do |form| %>
                    <div class="field">
                        <%= form.label :no, "Account No", :class => 'label' %>
                        <div class="control">
                            <%= form.text_field :no, :class => 'input' %>
                        </div>
                        <p class="help">Please enter the account no</p>
                    </div>
                    <%= form.submit "Create", :class => 'button' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>