<div class="container">
    <h1 class="title">Deposit</h1>
    <h2 class="subtitle">
        Make a deposit
    </h2>
    <div class="mt-4">
        <%= link_to 'Back to the account', account_path(@account), :class => 'button is-link' %>
    </div>
    <div class="columns mt-6">
        <div class="column is-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        Make a deposit
                    </div>
                </div>
                <div class="card-content">
                    <%= form_with url: deposit_path(@account), method: :post do |form| %>
                    <div class="field">
                        <%= form.label :no, "Amount", :class => 'label' %>
                        <div class="control">
                            <%= form.text_field :amount, :class => 'input' %>
                        </div>
                        <p class="help">Please enter the amount</p>
                    </div>
                    <%= form.submit "Deposit", :class => 'button' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>