<div class="container">
    <h1 class="title"><%= @account.no %></h1>
    <h2 class="subtitle">
        Account Details
    </h2>
    <div class="mt-4">
        <%= link_to 'Back to Home', accounts_path, :class => 'button is-link' %>
    </div>
    <div class="columns mt-6">
        <div class="column is-4">
            <div class="tile is-parent">
                <article class="tile is-child notification is-link">
                    <div class="content">
                        <p class="title"><%= @account.no %></p>
                        <div class="subtitle">Available Balance <%= @account.balance %></div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column is-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        Transactions
                    </div>
                </div>
                <div class="card-content">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @account.transactions.each do |transaction|%>
                            <tr>
                                <td><%= transaction.created_at.strftime("%F %T") %></td>
                                <% if transaction.amount > 0 %>
                                <td>Deposit</td>
                                <td><%= transaction.amount %></td>
                                <% else %>
                                <td>Withdraw</td>
                                <td><%= transaction.amount * -1 %></td>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>